.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--nav-clr);
  margin: 0.313rem 0.313rem 0 0.313rem;
  border-radius: 0.6rem;
  height: 3.25rem;
  gap: 4.5rem;
}

.title {
  width: 32rem;
  margin: auto;
  margin-left: 0px;
  text-align: center;
  font-weight: bold;
}

a {
  color: var(--nav-fnt);
  text-decoration: none;
}

.nav-route {
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.login {
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
  border: 2px solid var(--accent);
  padding: 0.7em;
  color: var(--nav-fnt);
  font-size: 1rem;
}

.profile {
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
  padding: 0.7em;
  color: var(--nav-fnt);
}

.logout {
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
  border: 2px solid var(--accent);
  padding: 0.7em;
  color: var(--nav-fnt);
  font-size: 1rem;
}

.login:hover {
  background: var(--accent);
}

.logout:hover {
  background: var(--accent);
}


